/* Hero title Shop now */

.type-effect h1 {
  width: 9ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  40% {
    border-color: transparent
  }
}

 /* ------------- Cajas de shop ----------------*/

 .caja-shop:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgb(75, 75, 75) 10% ,rgb(98, 156, 255) 100%);
}

.add-to-cart button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}