@media (max-width: 800px) {
    
    .input-checkbox {
        display: none;
    }

    .menu-responsive {
        display: flex;
    }
    .navbar-responsive{
        display: flex;
        flex-direction: column;
        justify-content: right;
        height: 2rem;
        width: auto;
    }
    .navbar  {
        display: none;
    }
    .iconos-header {
         display: none;
    }
}


/* Version PAD */

@media (max-width: 641px) {
    
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 2.5rem;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

    .input-checkbox {
        display: none;
    }

    .menu-responsive {
        display: flex;
    }

    .navbar-responsive{
        display: flex;
        flex-direction: column;
        justify-content: right;
        height: 2rem;
        width: auto;
    }

    .navbar  {
        display: none;
    }
    .iconos-header {
        display: none;
    }
    
    /* Section Hero */

        .Hero-section {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 20;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
            height: auto;
        }
    
        .type-effect {
            display: none;
        }
        .hero-img {
            margin: 0;
            z-index: -2;
            height: 400px;
            width: 100%;
            background-image: url(./Assets/Banner/Banner-bg-2.jpg);
            background-size: cover;
            position: static;
            background-position-x: center;
            background-position-y: center;
        }

    /* Boxes anteojos */
    .boxes-shop {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill);
        width: 90%;
        gap: 20px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    /* Marcas */

    .cards-brands {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        margin: 0 auto;
        height: 350px;
        width: 100%;
        min-width: 75%;
        background-color: rgb(57, 57, 57); 
    }

    .cards-brands img {
        height: 120px;
    }

    /* BOX SECTION CONTACTO */

    .box-contacto-gral {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            width: 100%;
            height: auto;
            padding-bottom: 10px;
            margin: 0 auto;
     }
        
    .review_place {
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 20rem;
        text-align: center;
        justify-content: center;
        padding: 1rem;
    }

    .review_place p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #F5F5F5;
        text-align: justify;
        margin-top: 10px;
        position: static;
        padding: 25px;
        font-size: 15px;
    }

    /* Mobile contact */

    .boxes-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        gap: 0;
    }

    .boxes-contacto p {
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .mediaqueries-mobile-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
        gap: 20px;
    }
    
    .mediaqueries-mobile-contact img {
        height: 20px;
        margin-bottom: -18px;
    }
    
        .box-name {
            display: none;
        }
        .box-email {
            display: none;
        }
        .box-phone {
            display: none;
        }
        .box-mensaje {
            display: none;
        }
        .button-send-info {
            display: none;
        }
}

/* -------------VERSION MOBILE ---------------*/

@media (max-width: 640px) {

    body {
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    /* Section Hero */

    .Hero-section {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 20;
        max-width: 100%;
        width: 98%;
        margin: 0 auto;
        height: auto;
    }

    .type-effect {
        display: none;
    }
    .hero-img {
        margin: 0;
        z-index: -2;
        height: 200px;
        width: 90%;
        background-image: url(./Assets/Banner/Banner-bg-2.jpg);
        background-size: cover;
        position: static;
        background-position-x: center;
        background-position-y: center;
    }

    /*  Filtros */

    .box-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 90%;
        height: auto;
    }

    .filter h2 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .filter-card img {
        height: 120px;
        position: relative;
    }

  /* cards anteojos */

    .boxes-shop {
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        width: 100%;
        height: auto;
        gap: 3px;
        margin-bottom: 10px;
    }

    .caja-shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px;
        width: 180px;
        height: 290px;
        border-radius: 5px;
        background-color: rgb(75, 75, 75);
    }

    .caja-categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .caja-categories span {
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 5px;
        border-width: 1.2px;
        color: #ffffff;
        min-width: 5rem;
        width: 10rem;
        max-height: none;
        height: 1.2rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    .box-shop-imagen {
        width: auto;
        height: auto;
    }
    
    .box-shop-imagen img {
        width: 150px;
        height: 150px;
        background-size: cover;
        border-radius: 5px;
    }
    
    .caja-title {
        margin-top: 0.5rem;
        flex-direction: column;
        color: #F5F5F5;
    }

    /* Marcas */

    .cards-brands {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    /* Reviews */

    .title-compromise  {
        margin-bottom: -30px;
    }

    .title-compromise h2 {
        font-size: 30px;
        text-align: center;
        padding: 30px;
    }

    .box-reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    /* BOX SECTION CONTACTO */

    .box-contacto-gral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        margin: 0 auto;
    }

    .review_place p {
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        color: #F5F5F5;
        position: static;
        margin-top: 10px;
        font-size: 15px;
        padding: 25px;
    }

    /* Metodos de pago */

    .pay-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
    }

    .pay-method h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    }

    .pay-method img {
        width: 90%;
        margin: 0 auto;
    }

    /* Mobile contact */

    .boxes-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .mediaqueries-mobile-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .mediaqueries-mobile-contact img {
        height: 20px;
        margin-bottom: -18px;
    }

    .box-name {
        display: none;
    }
    .box-email {
        display: none;
    }
    .box-phone {
        display: none;
    }
    .box-mensaje {
        display: none;
    }
    .button-send-info {
        display: none;
    }
    /* google maps */

    .mapouter {
        display: none;
    }
    
    /* footer */

    .box-footer {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
        max-width: 100%;
        text-align: center;
    }

    .box-social-media img {
        height: 38px;
    }
}